.wrapper {
    margin-top: 1.5rem
}

.wrapper h1 {
    text-align: center;
    font-size: calc(4vw);
    color: #ffffff;
}

.smallInfo {
    text-align: center;
    color: #ffffff;
}

.row {
    display: flex;
    flex-direction: row;
    width: 100%;
}

.cardRow {
    justify-content: space-around;
}


.column {
    display: flex;
    flex-direction: column;
}

.project-card {
    display: flex;
    flex-direction: column;
    width: 20vw;
    margin-top: 1.5rem;
    border-radius: 20px 50px;
    background-color: #57535c;
    padding: 1rem;
    transition: 0.2s ease-in-out;
}

.project-card:hover {
    box-shadow: 10px 15px rgba(202, 202, 202, 0.4);
    width: 50%;
}

.project-card:hover .project {
    opacity: 0.2;
    position: absolute;
}

.project-image {
    border-radius: 20px;
    height: 35vw;
    transition: 0.2s ease-in-out;
}



.text {
    flex-direction: column;
    text-align: center;
    width: 100%;
    font-size: 1.5vw;
    color: #ffffff;
}

.text a {
    color: #fff;
}

@media only screen and (max-width: 750px) {
    .wrapper h1 {
        font-size: calc(6vw)
    }

    .project-image {
        height: 50vw;
    }

    .project-card {
        width: 30vw;
    }

    .project-card:hover {
        box-shadow: 8px 13px rgba(202, 202, 202, 0.4);
    }

    .text {
        font-size: 3vw;
        overflow: hidden;
    }
}